// colors
$white: #FFFFFF;
$black: #020101;
$gray: #F3F3F3;
$gray-100: #D3D3D3;
$gray-200: 	#555555;
$gray-300: 	#BDBDBD;
$gray-400: #939393;
$gold: #CCAC00;
$gold-light: #E5C100;
$gold-200: #EFE6B2;
$gold-300: #8E7800;

// fonts
$font-regular: "Montserrat";
