.education {
  padding-top: 1rem;

  p {
    margin-bottom: 0.5rem;
  }

  &-school {
    font-weight: 900;
  }

  &-degree {
    color: $gray-200;
    font-size: 1.1rem;
    font-style: italic;
  }

  &-major {
    color: $gray-200;
    font-size: 1.1rem;
    font-style: italic;
  }

  &-duration {
    font-size: 0.775rem;
  }

  &-column-1 {
    margin-left: 25px;
    text-align: left;
    width: 90%;

    div {
      font-size: 0.75rem;
    }
  }
}
