.profile {
  ol li {
    list-style: none;
    margin-left: -40px;
  }
}
.primary-header {
  font-family: "Open Sans";
  font-size: 2.225rem;
  letter-spacing: 3px;
  min-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
.sliding-middle-out-first {

  &::after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 3px;
    margin-top: 10px;
    width: 75px;
    background: $gold;
    animation: slideOutSeperator 3s ease;
  }
}

.profile-question {
  font-weight: bolder;
  color: $gold;
}

@media screen and (max-width: 768px) {

  .primary-header {
    font-family: "Open Sans";
    font-size: 1.75rem;
    letter-spacing: 2px;
    min-height: 60px;
    text-align: center;
    text-transform: uppercase;
  }
}
