.work {
  margin-top: 0.5rem; 

  p {
    margin-bottom: 0.5rem;
  }

  &-company {
    font-weight: 900;
  }

  &-role {
    color: $gray-200;
    font-size: 1.225rem;
    font-style: italic;
  }

  &-duration {
    font-size: 0.775rem;
  }

  &-details {
    padding: 0 3rem;
    text-align: left;

    ol {
      padding-left: 30px !important;
      font-size: 0.75rem !important;
    }

    li {
      list-style:disc;
    }
  }
}
