.footer {
  background-color: $black;
  border-top: 3px solid $gold;
  color: $gold;
  min-height: 300px;
  padding: 2rem 0 0.225rem;
  text-align: center;

  .footer-description {
    font-size: 10px;
    margin-top: 10px;
  }

  & ul {
    padding-left: 0;
  }

  & li {
    margin: 0 0.325rem;
  }

  & li img {
    cursor: pointer;
    width: 3rem;
  }

  & a:hover {
    color: $gold-light;
    text-decoration: none;
  }
}
