.header {
  background-color: $gray;
  padding: 2rem 0 0.225rem 1rem;
  text-align: center;

  & a {
    text-decoration: none;
    color: $black;
  }
}

.header-title {
  & h1 {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
  }
  & a {
    color: $gold;
  }
}

.header-navigation {
  & ul {
    margin: 1rem 0.5rem;
    -webkit-padding-start: 20px;
  }

  & li:first-child {
    margin-left: 0;
  }

  & li {
    margin: 0 1.5rem;
    padding: 0.225rem 0;
  }

  & li:hover {
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
  }

  & a:focus {
    color: $gold;
  }
}
