.header {
  background-color: $gray;
  border-bottom: 2px solid $gold;
  padding: 2rem 0 0.225rem 1rem;
  opacity: 0.95;
  text-align: center;

  & a {
    text-decoration: none;
    color: $black;
  }
}

.header-title {
  & h1 {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
  }
  & a {
    color: $gold;
  }
}

.header-navigation {

  & ul {
    margin: 1rem 0.5rem;
    -webkit-padding-start: 20px;
  }

  & li:first-child {
    margin-left: 0;
  }

  & li {
    margin: 0 1.5rem;
    padding: 0.225rem 0;
  }

  & li:hover {
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
  }

  & a:focus {
    color: $gold;
  }
}

@media screen and (max-width: 767px) {

  .header {
    padding: 1rem 0.25rem 0.5rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 200%;
    }
  }
  .header-navigation {

    li {
      display: block;
      margin: 0;
      padding: 0.5rem 0;
      text-align: center;
    }

    ul {
      -webkit-padding-start: 0;
    }

    & li:hover {
      border-top: none;
      border-bottom: none;
    }

    & a:hover {
      color: $gold;
    }
  }

  .header-title {

    h1 {
      letter-spacing: 1px;
      font-size: 2rem;
      padding-bottom: 0.5rem;
    }
  }
}
