@import "./utility/variables";
@import "./utility/fonts";
@import "./utility/spacing";
@import "~bootstrap/scss/bootstrap";
@import "./views/profile";
@import "./views/skills";
@import "./components/header";
@import "./components/footer";

body {
  font-family: $font-regular;
  margin: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  color: inherit;
}

.container--780 {
  max-width: 780px;
  padding: 2rem 1.225rem;
}
