@import "./utility/variables";
@import "./utility/fonts";
@import "./views/views";
@import "./components/header";
@import "./components/footer";

body {
  font-family: $font-regular;
  margin: 0;
}

ul li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}
